#earth_div {
  margin-bottom: 500px;
  margin-left: 25px;
  margin-top: 35px;
}
// <style>
//       html, body{padding: 0; margin: 0; background-color: black;}
//       #earth_div{top: 0; right: 0; bottom: 0; left: 0; position: absolute !important;}
//   </style>
