ul{
  list-style-type: none;
  padding: 0px;
}

.show-page {
  background-color: white;
}
.boat-info {
  text-align: center;
  justify-content: center;
}

#boat-name {
  font-size: 60px;
  letter-spacing: 3px;
  margin-top: none;
}

.horizontal-scroll-wrapper {
  width: 100px;
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.btn-show {
  text-align: center;
}

.carousel-image {
  height: 400px;
  width: 100%;
}

.slick-slide {
  padding: 0 10px;
}

.slick-prev:before {
  color: #1A4596 !important;
  opacity: 0;
  z-index: 1;
  left: 30vw;
  position: absolute;
  height: 500px;
}

.slick-next:before {
  color: #1A4596 !important;
  opacity: 0;
  z-index: 1;
  right: 30vw;
  position: absolute;
}

.slick-next{
  opacity: 0;
}

.banner-show {
  height: 50vh;
  margin-top: 35px;
  margin-bottom: 5px;
}

.show-info {
  display: flex;
  justify-content: space-between;
}

.show-left {
  width: 30vw;
  height: 50vh;
  margin-bottom: 20px;
}

.show-right{
  width: 30vw;
  height: 50vh;
}

.practice {
  height: 1000px;
}

.review-form-fixed {
  position: fixed;
}

.body-container {
  background-color: white !important;
}
