<div class="wrapper">
  <div class="container">
    <h2 class="inbox-title text-center">INBOX</h2>
    <ul class="list-group">
      <% @conversations.each do |conversation| %>
        <% unread_messages = conversation.messages.reject { |message| message.read || message.user_id == current_user.id }.count %>
        <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
          <% if conversation.sender_id == current_user.id %>
            <% recipient = User.find(conversation.recipient_id) %>
          <% else %>
            <% recipient = User.find(conversation.sender_id) %>
          <% end %>
          <% puts conversation.messages.last.body %>

        <% end %>
      <% end %>
    </ul>
  </div>
</div>



