<div class="lw-footer">
<!--   <div class="lw-footer-links">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
  </div> -->
  <div class="footer-info">
    <p>© 2018 <strong>PORTS</strong> global</p>
  </div>
  <div class="footer-logo">
    <div class="logo-two">
      <h1>PORTS</h1>
    </div>
  </div>
  <div class="empty">
  <p></p>
  </div>
<!--  <div class="lw-footer-info">
  <a href="#">FAQ</a>
  <a href="#">CONTACT</a>
  <a href="#">COOKIES POLICY</a>
  <a href="#">TERMS OF USE</a>
  <a href="#">ABOUT US</a>
  <a href="#">HELP</a>
  </div> -->

</div>
