/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
}
.alert-info {
  background: $green;
  position: relative;
  border: none !important;

}
.alert-warning {
  background: $red;
  position: relative;
  border: none !important;
}

.message-button {
  position: absolute;
  bottom: 0;
  right: 0;
}

.margin-div {
  z-index: 4;
}
