.banner {
  color: black;
  height: 90vh;
  background-position: center;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 750x;
  width: 100%;
  position: absolute;
  z-index: 1;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: black;
  opacity: 0.6;
  margin-bottom: 30px;
}

.form-home-page {
  background-color: transparent;
  margin-left: 20px;
}

.form-search-home {
  margin: 20px;
}

#location {
  color: black;
  width: 450px;
  height: 60px;
  border-radius: 5px;
}

.btn-homepage {
  height: 60px !important;
  width: 168px !important;
  border-radius: 5px !important;
  color: gray;
}

