// .modal-header {
//   display: flex;
//   justify-content: space-between;
// }

.sign-in-body {
  display: flex;
  height: 250px;
  flex-direction: column;
  justify-content: space-around;

}

.sign-up-body {
  display: flex;
  height: 450px;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10px;

}

.form-input {
  background-color: white;
  height: 44px;
  border-radius: 5px !important;
  width: 565px;
  border: 1px solid #cccccc;
}


// #sign-in-header {
//   display: inline;
// }
#exampleModalLabel {
  font-size: 40px;
  letter-spacing: 2px;

}

.close_sign_up{
  position: absolute;
  top: 23px;
  right: 16px;
}

.form-labels {
  font-weight: normal;
}

.remember_me {
  font-size: 10px;
}

.forgot-password-link {
  color: black;
  text-decoration: none !important;
  font-size: 10px;
  &:hover{
    color: black;
  }
}

#sign-up-tab {
  margin-top: 14px;
  color: black;
  text-decoration: none !important;
  font-size: 16px;
  &:hover{
    color: black;
  }
}

.sign-up-link {
  margin-top: 10px;
}
